<div
   class="surface-section min-h-screen flex flex-column justify-content-center"
>
   <div class="grid grid-nogutter surface-section text-800">
      <div
         class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center"
      >
         <section>
            <span class="block text-6xl font-bold mb-1">Vida y Esencias</span>
            <div class="text-6xl text-primary font-bold mb-3">
               Estilo de vida, salud, comunidad.
            </div>
            <p class="mt-0 mb-4 text-700 line-height-3">
               Se parte de nosotras. Ven y forma parte de la comunidad, empieza
               ya a tener el estilo de vida saludable que te mereces.
            </p>

            <!-- (click)="visible1 = true" -->
            <app-register-modal></app-register-modal>

            <button
               pButton
               pRipple
               label="Conocenos"
               type="button"
               class="p-button-outlined"
            ></button>
         </section>
      </div>

      <div class="col-12 md:col-6 overflow-hidden">
         <img
            src="../../assets/images/home2.jpg"
            alt="Image"
            class="md:ml-auto block md:h-full"
            style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
         />
      </div>
   </div>
</div>
