<!-- <div
   class="surface-section flex flex-column lg:flex-row px-4 py-8 md:px-6 lg:px-8 align-items-center"
> -->
<!-- min-h-screen -->
<!-- <div
   class="surface-ground flex lg:flex-row px-4 py-8 md:px-6 lg:px-8 align-items-center"
>
   <div style="width: 30%">
      <img
         src="../../assets/images/fondo-what-are.jpg"
         class="h-25rem border-round hidden lg:block lg:h-30rem"
      />
   </div>

   <div
      style="background: url(assets/images/blocks/cta/row.jpg)"
      class="bg-no-repeat bg-cover border-round-lg px-4 py-7 sm:px-7 md:px-6 lg:mt-8"
   >
      <img
         src="../../assets/images/fondo-what-are.jpg"
         class="w-full sm:w-15rem border-round block lg:hidden mx-auto mb-5"
      />
      <div class="text-indigo-50 text-4xl font-semibold mb-3">
         ¿Qué son los aceites esenciales?
      </div>
      <p class="text-indigo-100 mt-0 mb-5 line-height-3">
         Los aceites esenciales son extractos vegetales concentrados cosechados
         de plantas, hierbas y árboles que luego se destilan a vapor o se
         prensan en frío de manera cuidadosa.
      </p>

      <p class="text-indigo-100 mt-0 mb-5 line-height-3">
         Estos aceites esenciales puros son más poderosos y potentes que los
         componentes botánicos de los que fueron extraídos, por lo tanto
         altamente concentrados para brindar beneficios para la salud y el
         bienestar.
      </p>

      <p class="text-indigo-100 mt-0 mb-5 line-height-3">
         ¡Ya sea que uses los aceites como aromaterapia, cuidado personal o como
         soluciones caseras, encontrarás que cada aspecto de tu vida conseguirá
         un impulso con unas cuantas gotas de aceite esencial!
      </p>
   </div>
</div> -->

<!--  -->
<!--  -->
<!--  -->

<div
   class="relative lg:p-8 p-6 text-0 overflow-hidden flex justify-content-center"
   style="
      background: url('../../assets/images/fondo-what-are.jpg') no-repeat;
      background-size: cover;
   "
>
   <div
      class="text-center my-6 relative p-8"
      style="background-color: rgba(103, 109, 109, 0.534); max-width: 900px"
   >
      <div
         class="text-5xl mb-3 text-white flex justify-content-center flex-wrap"
      >
         ¿Qué son los aceites esenciales?
      </div>

      <div
         class="text-xl text-white-alpha-70 line-height-3 text-center mx-auto mb-5"
         style="max-width: 500px"
      >
         Los aceites esenciales son extractos vegetales concentrados cosechados
         de plantas, hierbas y árboles que luego se destilan a vapor o se
         prensan en frío de manera cuidadosa.
      </div>
      <div
         class="text-xl text-white-alpha-70 line-height-3 text-center mx-auto mb-5"
         style="max-width: 500px"
      >
         Estos aceites esenciales puros son más poderosos y potentes que los
         componentes botánicos de los que fueron extraídos, por lo tanto
         altamente concentrados para brindar beneficios para la salud y el
         bienestar.
      </div>
      <div
         class="text-xl text-white-alpha-70 line-height-3 text-center mx-auto mb-5"
         style="max-width: 500px"
      >
         ¡Ya sea que uses los aceites como aromaterapia, cuidado personal o como
         soluciones caseras, encontrarás que cada aspecto de tu vida conseguirá
         un impulso con unas cuantas gotas de aceite esencial!
      </div>
   </div>
</div>
