<form #rolesForm="ngForm" id="rolesForm">
   <div
      class="flex align-items-center mb-2"
      *ngFor="let role of availableRoles"
   >
      <p-checkbox
         [(ngModel)]="selectedRoles"
         name="roles"
         [value]="role"
         (change)="updateChecked(role)"
         [disabled]="role === 'Admin' && username === 'admin'"
         styleClass="mr-2"
         label="{{ role }}"
      ></p-checkbox>
   </div>
</form>

<!-- <h1>otto</h1>

<div class="w-full">
   <div
      class="surface-card border-2 p-3 border-round-top flex align-items-center cursor-pointer"
      [ngClass]="{
         'surface-border': tier1 !== 0,
         'border-primary': tier1 === 0
      }"
      (click)="tier1 = 0"
   >
      <p-radioButton
         name="tier1"
         [value]="0"
         [(ngModel)]="tier1"
         styleClass="mr-3"
      ></p-radioButton>

      <div class="mr-4 md:mr-8">
         <div class="font-medium mb-1">Basic</div>
         <span class="text-sm">Quam nulla porttitor massa.</span>
      </div>

      <div
         class="border-round border-1 p-1 ml-auto flex flex-nowrap"
         [ngClass]="{
            'surface-50 text-600 surface-border': tier1 !== 0,
            'bg-primary-reverse': tier1 === 0
         }"
      >
         <i
            [ngStyle]="{ fontSize: tier1 === 0 ? '1.3rem' : '1rem' }"
            class="pi pi-check"
         ></i>
      </div>
   </div>

   <div
      class="surface-card border-2 p-3 flex align-items-center cursor-pointer"
      [ngClass]="{
         'surface-border': tier1 !== 1,
         'border-primary': tier1 === 1
      }"
      (click)="tier1 = 1"
   >
      <p-radioButton
         name="tier1"
         [value]="1"
         [(ngModel)]="tier1"
         styleClass="mr-3"
      ></p-radioButton>
      <div class="mr-4 md:mr-8">
         <div class="font-medium mb-1">Premium</div>
         <span class="text-sm">Quam nulla porttitor massa.</span>
      </div>
      <div
         class="border-round border-1 p-1 ml-auto flex flex-nowrap"
         [ngClass]="{
            'surface-50 text-600 surface-border': tier1 !== 1,
            'bg-primary-reverse': tier1 === 1
         }"
      >
         <i class="pi pi-star-fill mr-2"></i>
         <i class="pi pi-star-fill"></i>
      </div>
   </div>

   <div
      class="surface-card border-2 p-3 border-round-bottom flex align-items-center cursor-pointer"
      [ngClass]="{
         'surface-border': tier1 !== 2,
         'border-primary': tier1 === 2
      }"
      (click)="tier1 = 2"
   >
      <p-radioButton
         name="tier1"
         [value]="2"
         [(ngModel)]="tier1"
         styleClass="mr-3"
      ></p-radioButton>
      <div class="mr-4 md:mr-8">
         <div class="font-medium mb-1">Enterprise</div>
         <span class="text-sm">Quam nulla porttitor massa.</span>
      </div>
      <div
         class="border-round border-1 p-1 ml-auto flex flex-nowrap"
         [ngClass]="{
            'surface-50 text-600 surface-border': tier1 !== 2,
            'bg-primary-reverse': tier1 === 2
         }"
      >
         <i class="pi pi-star-fill mr-2"></i>
         <i class="pi pi-star-fill mr-2"></i>
         <i class="pi pi-star-fill"></i>
      </div>
   </div>
</div> -->

<div class="flex justify-content-end mt-4">
   <button pButton type="button" (click)="closeD()" label="Guardar"></button>
</div>
