/* :host .p-dialog .p-dialog-header-icons {
   margin: 4rem !important;
}
:host .p-dialog .p-dialog-header {
   margin: 4rem !important;
} */

/* :host .p-dialog .p-dialog-header .p-dialog-title {
   margin: 4rem !important;
} */
