<div *ngIf="oilsList && categoryList" class="m-5 mt-0 flex flex-column">
   <!-- 

   <ul>
      <li *ngFor="let singleOil of selectedOilsToDisplay">{{ singleOil }}</li>
   </ul> -->

   <form
      class="formgrid grid"
      #loginForm="ngForm"
      (ngSubmit)="onSave()"
      autocomplete="off"
   >
      <div class="field col-12">
         <label for="title">Título</label>
         <input
            [(ngModel)]="recipeForm.title"
            name="title"
            id="title"
            type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            required
         />
      </div>

      <div class="field col-12">
         <label for="content">Descripción</label>
         <textarea
            [(ngModel)]="recipeForm.content"
            name="content"
            id="content"
            type="text"
            rows="4"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            required
         ></textarea>
      </div>

      <div class="field col-12 md:col-6">
         <label for="firstname6">Lista de Aceites</label>
         <p-multiSelect
            [options]="oilsList"
            [(ngModel)]="recipeForm.oilsList"
            name="oilsList"
            defaultLabel="Selecciona los aceites"
            optionLabel="name"
            display="chip"
            [selectionLimit]="5"
            [showToggleAll]="false"
            (onChange)="change()"
            required
         ></p-multiSelect>
         <!--  <p-multiSelect
            [options]="oilsList"
            [(ngModel)]="selectedOils"
            defaultLabel="Selecciona los aceites"
            optionLabel="name"
            display="chip"
            [selectionLimit]="5"
            [showToggleAll]="false"
            (onChange)="change()"
         ></p-multiSelect> -->

         <!--  -->

         <label for="category" class="mt-3">Categoría</label>
         <p-multiSelect
            id="category"
            [options]="categoryList"
            [(ngModel)]="recipeForm.category"
            name="category"
            defaultLabel="Selecciona una Categoria"
            optionLabel="name"
            display="chip"
            [selectionLimit]="1"
            [showToggleAll]="false"
            [filter]="false"
            required
         ></p-multiSelect>
      </div>

      <div class="field col-12 md:col-6">
         <label class="ml-2">Tu selección de aceites</label>

         <ul class="ml-2 mt-0">
            <li *ngFor="let singleOil of selectedOilsToDisplay">
               {{ singleOil }}
            </li>
         </ul>
      </div>
   </form>

   <!-- {{ loginForm.valid | json }} -->

   <!-- [disabled]="!loginForm.valid" -->
   <p-button
      label="Guardar"
      icon="pi pi-check"
      styleClass="p-button"
      (onClick)="onSave()"
   ></p-button>
</div>

<!--     sin lista

<div *ngIf="oilsList && categoryList" class="m-5 flex flex-column">

   <div class="formgrid grid">
      <div class="field col-12">
         <label for="title">Título</label>
         <input
            id="title"
            type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
         />
      </div>

      <div class="field col-12">
         <label for="content">Descripción</label>
         <textarea
            id="content"
            type="text"
            rows="4"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
         ></textarea>
      </div>

      <div class="field col-12 md:col-6">
         <label for="firstname6">Lista de Aceites</label>
         <p-multiSelect
            [options]="oilsList"
            [(ngModel)]="selectedOils"
            defaultLabel="Selecciona los aceites"
            optionLabel="name"
            display="chip"
            [selectionLimit]="5"
            [showToggleAll]="false"
            (onChange)="change()"
         ></p-multiSelect>
      </div>

      <div class="field col-12 md:col-6">
         <label for="category">Categoría</label>
         <p-multiSelect
            id="category"
            [options]="categoryList"
            [(ngModel)]="selectedCategory"
            defaultLabel="Selecciona una Categoria"
            optionLabel="name"
            display="chip"
            [selectionLimit]="1"
            [showToggleAll]="false"
            [filter]="false"
         ></p-multiSelect>
      </div>
   </div>

   <p-button
      label="Guardar"
      icon="pi pi-check"
      styleClass="p-button"
      (onClick)="onSave()"
   ></p-button>
</div>





 -->
