<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
   <div class="font-bold text-5xl text-900 mb-3 relative">
      Recetas

      <button
         pButton
         type="button"
         icon="pi pi-plus"
         class="p-button-rounded absolute top-0 right-0 small-btn"
         routerLink="/add-edit"
      ></button>

      <button
         pButton
         type="button"
         label="Añadir"
         icon="pi pi-plus"
         class="p-button w-2 absolute top-0 right-0 big-btn"
         routerLink="/add-edit/recipe"
      ></button>
   </div>

   <div class="text-700 line-height-3 text-base mb-6 flex align-items-center">
      Recuerda:
      <div class="flex ml-2 align-items-center">
         Salud
         <div
            style="background: linear-gradient(15deg, #f91616, #f97316)"
            class="w-2rem h-2rem flex-shrink-0 border-circle ml-2"
         ></div>
         &nbsp;, &nbsp;
      </div>

      <div class="flex ml-2 align-items-center">
         Belleza
         <div
            style="background: linear-gradient(15deg, #cc63f1, #6366f1)"
            class="w-2rem h-2rem flex-shrink-0 border-circle ml-2"
         ></div>
         &nbsp;, &nbsp;
      </div>

      <div class="flex ml-2 align-items-center">
         Bebés
         <div
            style="background: linear-gradient(15deg, #06d465, #06b6d4)"
            class="w-2rem h-2rem flex-shrink-0 border-circle ml-2"
         ></div>
      </div>
   </div>

   <div>
      <div
         class="field flex flex-column lg:flex-row lg:align-items-center lg:justify-content-between"
         *ngIf="recipeParams"
      >
         <form
            #form="ngForm"
            autocomplete="off"
            (ngSubmit)="filterRecipes()"
            class="flex flex-column md:flex-row md:align-items-center mb-3 md:mb-0"
         >
            <div class="grid">
               <div class="col-12 md:col-6">
                  <label for="autor" class="block text-900 font-medium mb-2"
                     >Por Autor</label
                  >
                  <input
                     id="autor"
                     type="text"
                     placeholder="Buscar por autor"
                     pInputText
                     class="w-full mb-3 p-3"
                     [(ngModel)]="recipeParams.membername"
                     name="membername"
                  />
               </div>

               <div class="col-12 md:col-6">
                  <label for="title" class="block text-900 font-medium mb-2"
                     >Por Titulo</label
                  >
                  <input
                     id="title"
                     type="text"
                     placeholder="Buscar en el título"
                     pInputText
                     class="w-full mb-3 p-3"
                     [(ngModel)]="recipeParams.title"
                     name="title"
                  />
               </div>
            </div>

            <button
               pButton
               type="submit"
               label="Filtrar"
               icon="pi pi-filter"
               class="ml-2"
            ></button>
         </form>

         <div class="flex align-items-center">
            <label for="sort" class="font-normal text-900 mb-0 mr-2 text-sm"
               >Ver:</label
            >
            <!-- (onOptionClick)="loadRecipes()" -->
            <p-selectButton
               [options]="recipesToDisplay"
               [(ngModel)]="recipeParams.ownername"
               name="sort"
               optionLabel="label"
               optionValue="name"
               (onOptionClick)="fetchMyRecipes()"
            ></p-selectButton>
         </div>
      </div>
   </div>

   <div class="grid">
      <!-- class="col-12 md:col-6 lg:col-3" -->
      <ng-container *ngFor="let recipe of recipes">
         <div class="col-12 md:col-6 lg:col-4">
            <div
               class="shadow-2 border-round-xl cursor-pointer h-full"
               [style]="borderColor(recipe.category)"
               (click)="displayRecipe(recipe)"
            >
               <div
                  class="p-4 border-round surface-card h-full flex flex-column justify-content-between"
               >
                  <div>
                     <div class="flex mb-3">
                        <p-avatar
                           image="{{ recipe.createdByPhotoUrl }}"
                           shape="circle"
                        ></p-avatar>

                        <div class="ml-2">
                           <div class="font-medium text-900 mb-1">
                              {{ recipe.createdByUsername | titlecase }}
                           </div>

                           <div
                              class="text-xs flex align-items-center text-400"
                           >
                              <span>{{ recipe.created | date }}</span>
                           </div>
                        </div>
                     </div>

                     <div
                        class="text-xl text-900 font-medium mb-3 line-height-3"
                     >
                        {{ recipe.title }}
                     </div>

                     <div class="line-height-3 text-700">
                        {{ recipe.content | shorten : 150 }}
                     </div>
                  </div>

                  <div class="text-xs text-center text-400 mt-2">
                     {{ recipe.oilsList | separate }}
                  </div>
               </div>
            </div>
         </div>
      </ng-container>
   </div>

   <div class="flex justify-content-center" *ngIf="pagination && recipeParams">
      <app-paginator
         [numberOfPages]="pagination.totalPages"
         [currentPage]="pagination.currentPage"
         (changePage)="pageChanged($event)"
      ></app-paginator>
   </div>
</div>
