<a
   pRipple
   class="flex h-full px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 border-left-2 lg:border-bottom-2 lg:border-left-none border-transparent hover:border-primary font-medium cursor-pointer transition-colors transition-duration-150"
   (click)="openLogin()"
>
   <i class="pi pi-user text-base lg:text-2xl mr-2 lg:mr-0"></i>
   <span class="block lg:hidden font-medium">Login</span>
</a>

<p-dialog
   [(visible)]="visibleLogin"
   appendTo="body"
   [modal]="true"
   [dismissableMask]="true"
   [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
   [style]="{ width: '80vw' }"
   [draggable]="false"
   [transitionOptions]="'300ms'"
>
   <div class="flex">
      <div class="surface-section w-full md:w-6 p-3 md:p-4 md:pt-0 pt-0">
         <div class="mb-5">
            <!-- <img
               src="assets/images/blocks/logos/hyper.svg"
               alt="Image"
               height="20"
               class="mb-3"
            /> -->
            <div class="text-900 text-3xl font-medium mb-3">
               Bienvenida de vuelta!
            </div>
         </div>

         <!--                 FORM            -->
         <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
            <label for="usuario" class="block text-900 font-medium mb-2"
               >Usuario</label
            >
            <input
               id="usuario"
               type="text"
               placeholder="Nombre de usuario"
               pInputText
               class="w-full mb-3 p-3"
               [(ngModel)]="model.username"
               name="username"
            />

            <label for="pass" class="block text-900 font-medium mb-2"
               >Password</label
            >
            <input
               id="pass"
               type="text"
               placeholder="Password"
               pInputText
               class="w-full mb-3 p-3"
               [(ngModel)]="model.password"
               name="password"
            />

            <button
               pButton
               pRipple
               label="Entrar"
               icon="pi pi-user"
               class="w-full p-3 mt-6"
               type="submit"
            ></button>
         </form>
      </div>

      <div
         class="hidden md:block w-6 bg-no-repeat bg-cover"
         style="
            background-image: url('../../assets/images/finca.png');
            width: 50%;
         "
      ></div>
   </div>
</p-dialog>
