<div
   class="surface-overlay py-3 px-6 shadow-1 flex align-items-center justify-content-between relative lg:static"
   style="min-height: 80px"
>
   <a
      class="cursor-pointer block lg:hidden text-700"
      pStyleClass="@next"
      enterClass="hidden"
      leaveToClass="hidden"
      [hideOnOutsideClick]="true"
   >
      <i class="pi pi-bars text-4xl"></i>
   </a>

   <div
      class="align-items-center flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full surface-overlay left-0 top-100 z-1 shadow-2 lg:shadow-none"
   >
      <div class="flex align-items-center">
         <i class="pi pi-file-edit text-2xl mr-3 text-500"></i>
         <span class="text-3xl font-medium text-900">{{ navTitle }}</span>
      </div>

      <ul
         class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row"
      >
         <li>
            <a
               class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center font-medium border-round cursor-pointer transition-colors transition-duration-150"
               routerLink="recipe"
               routerLinkActive="active"
            >
               <i class="pi pi-book mr-2"></i>
               <span>Receta</span>
            </a>
         </li>

         <li>
            <a
               class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center font-medium border-round cursor-pointer transition-colors transition-duration-150"
               routerLink="post"
               routerLinkActive="active"
            >
               <i class="pi pi-globe mr-2"></i>
               <span>Post</span>
            </a>
         </li>

         <li>
            <a
               class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center font-medium border-round cursor-pointer transition-colors transition-duration-150"
               routerLink="news"
               routerLinkActive="active"
            >
               <i class="pi pi-megaphone mr-2"></i>
               <span>Noticias</span>
            </a>
         </li>
      </ul>
   </div>
</div>

<div class="p-0 pt-3 md:p-6 lg:p-8 contenedor">
   <router-outlet></router-outlet>
</div>
