/* .p-button.p-button-icon-only.p-button-rounded {
   height: 1.5rem;
}

.p-button.p-button-icon-only {
   width: 1.5rem;
}

.XXXXXXD.pi {
   font-size: 0.2rem;
} */

/* ::ng-deep .p-button .p-button-label {
   font-size: 0.8rem;
}

::ng-deep .p-button {
   padding: 4px 12px;
} */
