/* You can add global styles to this file, and also import other style files */
@import "primeflex/primeflex.css";

body {
   font-family: var(--font-family);
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

/* ************************************** */
/* p'q no se me pegue la tacha en modales */
.p-dialog .p-dialog-header .p-dialog-title {
   margin-right: 2rem;
}

/* ********************************* */
/*       modal añadir receta         */
.addRecipeClass.p-dialog {
   max-width: 100vw;
}
@media (min-width: 768px) {
   .addRecipeClass.p-dialog {
      max-width: 75vw;
   }
}
@media (min-width: 960px) {
   .addRecipeClass.p-dialog {
      max-width: 900px;
   }
}

/* ********************************** */
/*       modal display receta         */
.displayRecipeClass.p-dialog {
   max-width: 100vw;
}
.displayRecipeClass .p-dialog-header {
   padding: 0;
   padding-top: 0.5rem;
   padding-right: 0.5rem;
}
@media (min-width: 768px) {
   .displayRecipeClass.p-dialog {
      max-width: 700px;
   }
}
/* @media (min-width: 960px) {
   .displayRecipeClass.p-dialog {
      max-width: 900px;
   }
} */

/* ******************************** */
/*       modal display post         */
.displayPostClass.p-dialog {
   max-width: 100vw;
}
.displayPostClass .p-dialog-header {
   padding: 0;
   padding-top: 0.5rem;
   padding-right: 0.5rem;
}
@media (min-width: 768px) {
   .displayPostClass.p-dialog {
      max-width: 700px;
   }
}

/* ***************************************** */
/*       ocultar botones barra quill         */
.p-editor-toolbar .ql-formats button.ql-link {
   display: none;
}
.p-editor-toolbar .ql-formats button.ql-image {
   display: none;
}
.p-editor-toolbar .ql-formats button.ql-code-block {
   display: none;
}
.p-editor-toolbar .ql-formats button.ql-clean {
   display: none;
}
/* los botones de color de letra y su background */
.p-editor-toolbar .ql-formats span.ql-color-picker {
   display: none;
}

.p-editor-toolbar .ql-formats span.ql-icon-picker {
   display: none;
}

.p-editor-toolbar .ql-font.ql-picker {
   display: none;
}
